/* @import url('https://fonts.cdnfonts.com/css/general-sans'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: #010103;
  /* font-family: 'General Sans', sans-serif; */
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer utilities {
  .c-space {
    @apply sm:px-10 px-5;
  }

  .head-text {
    @apply sm:text-2xl text-sm font-normal text-gray_gradient;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .nav-ul {
    @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-20;

  }

  .nav-li {
    @apply text-neutral-400 hover:text-white font-generalsans max-sm:hover:bg-black-500 max-sm:w-full max-sm:rounded-md py-2 max-sm:px-5;
  }

  .nav-li_a {
    @apply text-lg md:text-base hover:text-white transition-colors;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .nav-sidebar {
    @apply absolute left-0 right-0 bg-black-200 backdrop-blur-sm transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
  }

  .text-gray_gradient {
    @apply bg-gradient-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent;
  }

  /* button component */
  .btn {
    @apply flex gap-4 items-center justify-center cursor-pointer p-3 rounded-md bg-black-300 transition-all active:scale-95 text-white mx-auto;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .btn-ping {
    @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75;
  }

  .btn-ping_dot {
    @apply relative inline-flex rounded-full h-3 w-3 bg-green-500;
  }

  /* hero section */
  .hero_tag {
    @apply text-center xl:text-6xl md:text-5xl sm:text-4xl text-3xl font-black !leading-normal;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  /* about section */
  .grid-container {
    @apply w-full h-full border border-black-300 bg-black-100 rounded-lg sm:p-7 p-4 flex flex-col gap-5;
  }

  .grid-headtext {
    @apply text-xl font-semibold mb-2 text-white;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .grid-subtext {
    @apply text-[#afb0b6] text-base;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .copy-container {
    @apply cursor-pointer flex justify-center items-center gap-2;
  }

  /* projects section  */
  .arrow-btn {
    @apply w-10 h-10 p-3 cursor-pointer active:scale-95 transition-all rounded-full arrow-gradient;
  }

  .tech-logo {
    @apply w-10 h-10 rounded-md p-2 bg-neutral-100 bg-opacity-10 backdrop-filter backdrop-blur-lg flex justify-center items-center;
  }

  /* clients section */
  .client-container {
    @apply grid md:grid-cols-2 grid-cols-1 gap-5 mt-12;
  }

  .client-review {
    @apply rounded-lg md:p-10 p-5 col-span-1 bg-black-300 bg-opacity-50;
  }

  .client-content {
    @apply flex lg:flex-row flex-col justify-between lg:items-center items-start gap-5 mt-7;
  }

  /*  work experience section */
  .client-container {
    @apply grid md:grid-cols-2 grid-cols-1 gap-5 mt-12;
  }

  .sections {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .sections .scroll {
    width: 100%;
    display: flex;
  }

  .sections .scroll div {
    color: #000;
    font-size: 4rem;
    background: #fff;
    white-space: nowrap;
    font-weight: 900;
    text-transform: uppercase;
    animation: animate 40s linear infinite;
    animation-delay: -40s;
  }

  .sections .scroll div:nth-child(2) {
    animation: animate2 40s linear infinite;
    animation-delay: -20s;
  }

  .sections .scroll div span {
    -webkit-text-stroke: 2px #000;
    color: transparent;
  }

  @keyframes animate {
    0% {
      transform: translate(100%);
    }

    100% {
      transform: translate(-100%);
    }
  }

  @keyframes animate2 {
    0% {
      transform: translate(0);
    }

    100% {
      transform: translate(-200%);
    }
  }

  .sections .scroll.text1 {
    transform: rotate(30deg) translateY(200px) translateX(-200px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }

  .sections .scroll.text2 {
    transform: rotate(-29deg) translateY(120px) translateX(-200px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }

  .sections .scroll.text3 {
    transform: rotate(25deg) translateY(300px) translateX(-200px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }

  .sections .scroll.text4 {
    transform: rotate(-2deg) translateY(-150px) translateX(200px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }

  .sections .scroll.text5 {
    transform: rotate(-5deg) translateY(350px) translateX(250px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }


  /* contact section */
  .contact-container {
    @apply max-w-xl relative z-10 sm:px-10 px-5 mt-12;
  }

  .field-label {
    @apply text-lg text-white-600;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


  }

  .field-input {
    @apply w-full bg-black-300 px-5 py-2 min-h-14 rounded-lg placeholder:text-white-500 text-lg text-white-800 shadow-black-200 shadow-2xl focus:outline-none;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  }

  .field-btn {
    @apply bg-black-500 px-5 py-2 min-h-12 rounded-lg shadow-black-200 shadow-2xl flex justify-center items-center text-lg text-white gap-3;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  }

  .field-btn_arrow {
    @apply w-2.5 h-2.5 object-contain invert brightness-0;
  }

  /*  footer */
  .social-icon {
    @apply w-12 h-12 rounded-full flex justify-center items-center bg-black-300 border border-black-200;
  }
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.arrow-gradient {
  background-image: linear-gradient(to right,
      rgba(255, 255, 255, 0.1) 10%,
      rgba(255, 255, 255, 0.000025) 50%,
      rgba(255, 255, 255, 0.000025) 50%,
      rgba(255, 255, 255, 0.025) 100%);
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(14deg);
  }

  30% {
    transform: rotate(-8deg);
  }

  40% {
    transform: rotate(14deg);
  }

  50% {
    transform: rotate(-4deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.card-stacker:hover .card {
  margin-left: 10px;
}

.type-effect {
  color: white;
  font-size: 4rem;
  font-weight: 100;
  text-shadow: 2px 2px #dfece2;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.effect {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  scroll-behavior: smooth;
}